<meta charset="utf-8">

<style>
.img-fluid {
	width: 80%;
	height: 550px;
	border-radius: 10px;
}

#tab_name{
	font-size:15px;
	font-weight:bold;
}

#p1 {
	font-style: italic;
	font-weight: 400;
}

h6, #p2 {
	color: black;
}

#p3 {
	font-size: 14px;
}

.info_img {
	width: 45%;
	height: 600px;
	border-radius: 10px;
	margin-bottom: 50px;
}

#cancel_table {
	width: 600px;
}

#price_table {
	width: 400px;
}

#review {
	font-size: 15px;
}

#re_att {
	font-size: 13px;
	color: #c44536;
}

#item_review {
	margin-left: 10px;
	margin-top: 10px;
}

hr.two_1 {
	width: 100%;
	border: none;
	border: 1px solid #ced4da;
}

.star-ratings {
	color: #aaa9a9;
	position: relative;
	unicode-bidi: bidi-override;
	width: max-content;
	-webkit-text-fill-color: transparent;
	/* Will override color (regardless of order)
	-webkit-text-stroke-width: 1.3px;
	-webkit-text-stroke-color: #2b2a29; */
}

.star-ratings-fill {
	color: #fff58c;
	padding: 0;
	position: absolute;
	z-index: 1;
	display: flex;
	top: 0;
	left: 0;
	overflow: hidden;
	-webkit-text-fill-color: #f9c74f;
}

.star-ratings-base {
	z-index: 0;
	padding: 0;
}

.title {
	display: inline-block;
	width: 100px;
	font-weight: bold;
}

.con {
	font-weight: 500;
}

#order {
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 200px;
	float: left;
}

#wishlist {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 200px;
	float: left;
	background-color: #cec2ff;
	padding: 10px;
	border-radius: 10px;
	outline: 0;
}

.btn {
	animation: bgColor 1st both;
	background-color:#7971EA;
}

@keyframes byColor {
	from {background: #cec2ff;
}

to {
	background: blue;
	color: white;
}
}

#btn {
	width: 100%;
	text-align: center;
	color:#7971EA;
}
</style>

<script>
	var map;
	function display() {
		var lat = $('#lat').val();
		var lng = $('#lng').val();

		var mapContainer = document.querySelector('#map');
		var mapOption = {
			center : new kakao.maps.LatLng(lat, lng), // 지도의 중심좌표
			level : 8
		// 지도의 확대 레벨
		};
		map = new kakao.maps.Map(mapContainer, mapOption);

		var markerPosition = new kakao.maps.LatLng(lat, lng);

		var marker = new kakao.maps.Marker({
			position : markerPosition
		});

	};

	$(document).ready(function() {
		display();
		$('#wishlist').click(function() {
			$(this).toggleClass("btn");
			var itemid = $('#itemid').text();
			//alert(itemid);
			var custid = '[[${session.logincust.custid}]]';
			//alert(custid);
			$.ajax({
				url : '[[@{/addwishlist}]]',
				data : {
					'custid' : custid,
					'itemid' : itemid
				},
				success : function(data) {

				}
			});
		});
	});
</script>



<body>

	<div class="site-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img th:src="'/img/'+${itemdetail1.itemimg}" alt="Image"
						class="img-fluid">
				</div>
				<div class="col-md-6">
					<h2 class="text-black" th:text="${itemdetail1.itemname}"></h2>
					<p></p>
					<hr class="two_1">
					<span id="itemid" th:text="${itemdetail1.itemid}" name="itemid"
						style="display: none"></span><br>
					<sapn class="title">장소</sapn>
					<span class="con" th:text="${itemdetail1.itemplace}"></span><br>
					<sapn class="title">기간</sapn>
					<span class="con"
						th:text="${#dates.format(itemdetail1.estart, 'yyyy.MM.dd')} + '&nbsp;~&nbsp;' + ${#dates.format(itemdetail1.efin, 'yyyy.MM.dd')}"
						name="itemid"></span><br> <span class="title">관람등급</span><span
						class="con" th:text="' '+${itemdetail1.itemguide}"></span>
					<hr style="color: black">
					<span class="title">가격</span><span class="con"
						th:text="${itemdetail1.itemoption_obj} +'권 '+ ${#numbers.formatInteger(itemdetail1.itemoption_price, 3,'COMMA')}+'원'"></span><br>
					<span class="title"></span><span class="con"
						th:text="${itemdetail2.itemoption_obj} +'권 '+ ${#numbers.formatInteger(itemdetail2.itemoption_price, 3,'COMMA')}+'원'"></span><br>
					<span class="title"></span><span class="con"
						th:text="${itemdetail3.itemoption_obj} +'권 '+ ${#numbers.formatInteger(itemdetail3.itemoption_price, 3,'COMMA')}+'원'"></span>


					<div id="btn">
						<div style="display: inline-block">
							<a id="order"
								th:href="@{/itemoption(itemid=${itemdetail1.itemid})}"
								class="buy-now btn btn-sm btn-primary"><strong>예매하기</strong></a>
						</div>
						<div class="star" style="display: inline-block">
							<button id="wishlist" class="btn btn-primary btn-xs">
								<span style="color: white" class="material-symbols-outlined">
									favorite </span>
							</button>
						</div>
					</div>
				</div>
			</div>

			<!-- tab 메뉴 --------------------------------------------------------------->
			<br><br><br><br>
			<br><br><br><br>
			<br><br><br><br>
			
			<ul id="tab_name" class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#home">상세정보</a></li>
				<li><a data-toggle="tab" href="#menu1">한줄평</a></li>
				<li><a data-toggle="tab" href="#menu2">장소정보</a></li>
				<li><a data-toggle="tab" href="#menu3">예매/취소안내</a></li>
			</ul>

			<!-- tab 내용 --------------------------------------------------------------->
			<div class="tab-content">
				<div id="home" class="tab-pane fade in active">
					<br>
					<br>
					<h3>Exhibition Information</h3>
					<br>
					<br>
					<p id="p1">멋진 전시를 U-ART에서 만나보세요</p>
					<br>
					<br>
					<h6 th:text="'▶전시명: &nbsp;   ' + ${itemdetail1.itemname}">▶전시명:</h6>
					<br> <img th:src="'/img/'+${itemdetail1.itemimg}" alt="Image"
						class="info_img">
					<h6 th:text="'▶전시장소: &nbsp;   ' + ${itemdetail1.itemplace}">▶전시장소:</h6>
					<br>
					<h6 th:text="'▶전시관람등급: &nbsp;   ' + ${itemdetail1.itemguide}">▶전시관람등급:</h6>
					<br>
					<h6 th:text="'▶티켓수령방법: &nbsp;   ' + ${itemdetail1.itemticket}">▶티켓수령방법:</h6>
					<br>
					<h6
						th:text="'▶전시기간: &nbsp;   ' + ${#dates.format(itemdetail1.estart, 'yyyy.MM.dd')} + '&nbsp;~&nbsp;' + ${#dates.format(itemdetail1.efin, 'yyyy.MM.dd')}">▶전시일정:</h6>
					<br>
					<h6 th:text=" '▶요금안내: &nbsp;  ' "></h6>


					<table class="table table-bordered" id="price_table">
						<thead>
							<tr>
								<th>분류</th>
								<th>티켓가격</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td th:text="${itemdetail1.itemoption_obj}">성인</td>
								<td th:text="${#numbers.formatInteger(itemdetail1.itemoption_price, 3, 'COMMA')}">가격</td>
							</tr>
							<tr>
								<td th:text="${itemdetail2.itemoption_obj}">청소년</td>
								<td th:text="${#numbers.formatInteger(itemdetail2.itemoption_price, 3, 'COMMA')}">가격</td>
							</tr>
							<tr>
								<td th:text="${itemdetail3.itemoption_obj}">어린이</td>
								<td th:text="${#numbers.formatInteger(itemdetail3.itemoption_price, 3, 'COMMA')}">가격</td>
							</tr>

						</tbody>
					</table>
				</div>

				<div id="menu1" class="tab-pane fade">
					<br>
					<h6 style="color: grey">게시판 운영규정에 맞지 않는 글은 사전 통보없이 삭제될 수 있습니다.</h6>
					<div class="container">
						<details>
							<summary id="re_att" style="font-weight: bold"> 부정이용
								규제안내</summary>
							<div id="review">
								게시판 운영 정책 위배시 사전 통보 없이 게시글을 삭제하거나 블라인드 처리할 수 있습니다. <br> <br>
								1. 티켓 매매 및 양도 관련 글일 경우 <br>2. 게시판 운영 목적에 반하거나 이벤트 당첨을 위해,
								단어 또는 문장을 반복적으로 등록하여 도배성 게시글이라고 판단되는 경우<br> 3. 전화번호, 이메일,
								주소 등 회원 및 타인의 개인정보 유출이 우려되는 경우<br> 4. 해당 상품과 관련이 없거나 게시판의
								성격에 맞지 않는다고 판단되는 경우<br> 5. 타회원 및 제 3자의 권리나 개인정보, 명예, 신용, 기타
								정당한 이익을 침해하는 내용을 포함하는 경우<br> 6. 의도적으로 악성 게시글이나, 공공질서나 미풍양속에
								위배되는 욕설, 저속, 음란 내용을 포함하는 경우<br> 7. 홍보 및 광고성 내용을 포함하는 경우
							</div>
						</details>
						<br>
					</div>
					<div class=reviews>
						<h3>Reviews</h3>
						<br>
						<form id="itemreview_form" th:each="re : ${review}">
							<div class="movie__rate">
								<div class="star-ratings">
									<div name="${re.reviewgrade}"
										class="star-ratings-fill space-x-4 text-lg"
										th:style="${'width:'+re.reviewgrade*20+'%'}">
										<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
									</div>
									<div class="star-ratings-base space-x-4 text-lg">
										<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
									</div>
								</div>
							</div>
							<p style="color: black" th:text="${re.reviewcontent}"
								name="reviewcontent"></p>
							<p
								th:text="${re.custid} + ' 🙋‍♀️🙋‍♂ | ' + ${#dates.format(re.reviewdate,'yy.MM.dd')}"
								name="reviewdate"></p>
							<hr class="two_1">
						</form>
					</div>
				</div>

				<div id="menu2" class="tab-pane fade">
					<h3>장소정보</h3>
					<div id="map" style="width: 500px; height: 400px;"></div>
					<input id="lat" type="hidden" th:value="${itemdetail2.lat}"
						readonly="readonly"> <input id="lng" type="hidden"
						th:value="${itemdetail2.lng}" readonly="readonly">
				</div>

				<div id="menu3" class="tab-pane fade">
					<br><br>
					<h4>예매/취소안내</h4>
					<br><br>					
					<h5>티켓 수령안내</h5>
					<p id="p2">
						▶온라인수령<br> 티켓 예매 확인 후 예매시 입력하신 연락처로 티켓이 발송됩니다.<br> 예매 후
						1일 이내에 수령이 가능합니다.
					</p>
					<br><br>
					<h5>예매 취소안내</h5>
					<p id="p2">
						▶취소시 주의사항<br> 티켓 예매 후 7일 이내에 취소시, 취소수수료가 없습니다.<br> 단, 예매
						후 7일 이내라도 취소 시점이 전시 시작일로부터 7일이내라면 50%만 환불됩니다.
					</p>
					<br>
					<p id="p2">▶취소환불 규정</p>

					<table class="table table-bordered" id="cancel_table">
						<thead>
							<tr>
								<th>기준</th>
								<th>환불금액</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>예매 후 7일 이내</td>
								<td>전액환불</td>
							</tr>
							<tr>
								<td>전시 시작일 전 7일 이내</td>
								<td>티켓금액의 50%환불</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
	<!-------- tap end-------------------------------------------------------- -->
		</div>
	</div>
</body>
</html>