<meta charset="utf-8">
<style>
#section{
margin: auto;
}

#golist_btn{
margin: auto;
}

#imgsection {
text-align: center;
}

img {
width: 700px;
border-radius: 10px;
}
</style>

  <div class="site-section">
      <div class="container">

        <div class="row mb-5">
          <div class="col-md-12 order-2">

           <div class="row mb-5" id="section">
           	  <div class="col-md-12 mb-5" id="imgsection">
           		<img src="/img/event/einfodetail2.png">
              </div>
              <a href="/event/get" id="golist_btn" class="btn btn-primary btn-sm">목록보기</a>
            </div>
            
          </div>
        </div>
      </div>
    </div>

