<meta charset="utf-8">

<!-- Basic Layout -->
<div class="col-xxl">
	<div class="card mb-4"
		style="width: 80%; margin: auto; margin-top: 70px;">
		<div
			class="card-header d-flex align-items-center justify-content-between">
			<h4 class="mb-0">고객 상세정보</h4>
		</div>
		<div class="card-body">
			<form>
				<div class="row mb-3">
					<label class="col-sm-2 col-form-label" for="basic-default-name">Name</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="name"
							readonly="readonly">
					</div>
				</div>
				<div class="row mb-3">
					<label class="col-sm-2 col-form-label" for="basic-default-name">ID</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="id" readonly="readonly">
					</div>
				</div>
				<div class="row mb-3">
					<label class="col-sm-2 col-form-label" for="basic-default-name">PWD</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="pwd" readonly="readonly">
					</div>
				</div>
				<div class="row mb-3">
					<label class="col-sm-2 col-form-label" for="basic-default-name">Gender</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="gender" readonly="readonly">
					</div>
				</div>
				<div class="row mb-3">
					<label class="col-sm-2 col-form-label" for="basic-default-name">Birth</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="birth" readonly="readonly">
					</div>
				</div>
				<div class="row mb-3">
					<label class="col-sm-2 col-form-label" for="basic-default-name">Phone</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="phone" readonly="readonly">
					</div>
				</div>
				<div class="row mb-3">
					<label class="col-sm-2 col-form-label" for="basic-default-email">Email</label>
					<div class="col-sm-8">
						<div class="input-group input-group-merge">
							<input type="text" id="email" class="form-control" readonly="readonly">
						</div>
					</div>
				</div>
				<div class="row mb-3">
					<label class="col-sm-2 col-form-label" for="basic-default-phone">Custdate</label>
					<div class="col-sm-8">
						<input type="text" id="custdate" class="form-control phone-mask" readonly="readonly">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>