<meta charset="utf-8">
<style>
.table th{
font-size:15px;
}
</style>

<!-- Bootstrap Table with Header - Light -->
<div class="card" style="width:90%; margin:auto; margin-top:70px; margin-bottom:70px;">
	<h4 class="card-header">고객 목록</h4>
	<div class="table-responsive text-nowrap" style=" text-align:center" >
		<table class="table">
			<thead class="table-light">
				<tr>
					<th>ID</th>
					<th>NAME</th>
					<th>PWD</th>
					
				</tr>
			</thead>
			<tbody class="table-border-bottom-0">
				<tr th:each="c:${list}">
					<td><a th:href="@{/cust/detail(custid=${c.custid})}" th:text="${c.custid}"></a></td>
					<td th:text="${c.cname}"></td>
					<td th:text="${c.pwd}"></td>
					
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- Bootstrap Table with Header - Light -->