<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
.site-section {
	padding: 5em 0 17em;
}

.table-bordered {
	margin: auto;
	width: 95%;
	color: #22333b;
}

.table td {
	vertical-align: middle;
}

th {
	height: 70px;
}

td {
	height: 120px;
}

th, td {
	text-align: center;
}

#first_td {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#checkcnt {
	text-align: center;
	width: 67px;
	background-color: #eef5db;
	border-radius: 20px;
}
</style>

<body>
	<div class="site-section">
		<div class="container">
			<div class="table-responsive text-nowrap" style="text-align: center">
				<div class="col-md-12 mb-5">
					<h4 class="text-black h4">구매내역</h4>
				</div>
				<table class="table-bordered">
					<thead>
						<tr>
							<th>예매일</th>
							<th>예약번호</th>
							<th>예매자</th>
							<th>상품명</th>
							<th>결제금액<br> /매수
							</th>
							<th>결제수단</th>
							<th>취소가능일</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="${#dates.format(neworder.orderdate,'yyyy.MM.dd')}"></td>
							<td th:text="${neworder.orderlistid}"></td>
							<td th:text="${neworder.cust_cname}"></td>
							<td th:text="${neworder.item_itemname}"></td>
							<td id="first_td">
								<div>
									<span th:text="${neworder.totalprice}+'원'"></span>
								</div>
								<div id="checkcnt" th:text="'총 '+${neworder.ordercnt}+'매'"></div>
							</td>
							<td th:text="${neworder.pay}"></td>
							<td th:text="${#dates.format(neworder.candate,'yyyy.MM.dd')}"
								style="color: #7971EA;"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</body>
<footer class="site-footer border-top">
   <div class="container">
      <div class="row">
      <!-- enter -->
      <!-- enter -->
      <!-- enter -->
         <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="row">
               <div class="col-md-12">
                  <h3 class="footer-heading mb-4">주식회사 U-ART</h3>
               </div>
               <div class="col-md-6 col-lg-4">
                  <ul class="list-unstyled">
                     <li><a href="#">개인정보처리방침</a></li>
                     <li><a href="#">청소년보호정책</a></li>
                     <li><a href="#">이용약관</a></li>
                  </ul>
               </div>
               <div class="col-md-6 col-lg-4">
                  <ul class="list-unstyled">
                     <li><a href="#">회사소개</a></li>
                     <li><a href="#">고객센터</a></li>
                     <li><a href="#">티켓판매안내</a></li>
                  </ul>
               </div>
               <div class="col-md-7 col-lg-4">
                  <ul class="list-unstyled">
                     <li><a href="#">웹사이트 개발</a></li>
                     <li><a href="#">채용안내</a></li>
                     <li><a href="#">광고/제휴안내</a></li>
                  </ul>
               </div>
            
            </div>
         </div>
         <div class="col-md-6 col-lg-1 mb-4 mb-lg-0"></div>
         <div class="col-md-6 col-lg-4">
            <div class="block-5 mb-5">
               <h3 class="footer-heading mb-4">Contact U-ART</h3>
               <ul class="list-unstyled">
                  <li id="address" class="address">서울특별시 강남구 삼성로 42 삼성동빌딩 5층</li>
                  <li class="phone"><a href="#">+82 02-2387-2387</a></li>
                  <li class="email">emailaddress@uart.com</li>
               </ul>
            </div>
         </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
         <div class="col-md-12">
            <p>
               <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                &copy;
               <script data-cfasync="false"
                  src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
               <script>document.write(new Date().getFullYear());</script>
             <span class="material-symbols-outlined" style="font-size: 40px; color:#9f86c0;" >emoji_people </span><a
                  href="#" target="_blank" class="text-primary"> (주)U-ART</a>
               <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
         </div>

      </div>
   </div>
</footer>

</html>