<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link
	href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Josefin+Sans&display=swap"
	rel="stylesheet">
<!-- jQuery -->
<script type="text/javascript"
	src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<!-- iamport.payment.js -->
<script type="text/javascript"
	src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>

</head>

<style>
a {
	text-decoration: none;
}

table {
	border-collapse: collapse;
	width: 100%;
}

caption {
	visibility: hidden;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}

.content_totalCount_section {
	margin-bottom: 12px;
}

.content_btn_section {
	margin-top: 20px;
	text-align: right;
}

th {
	text-align: center;
	color: #333;
	border-bottom: 1px solid #e7e7e7;
	border-top: 1px solid #3084d9;
	background: #faf4ff;
	padding: 2px 0;
}

.td_width_1 {
	width: 0%;
}

.td_width_0 {
	width: 3%;
}

.td_width_2 {
	width: 20%;
}

.td_width_3 {
	width: 25%;
}

.td_width_4 {
	width: 15%;
}

.quantity_div {
	position: relative;
	width: 42px;
	height: 25px;
	margin: 5px auto;
}

.quantity_input {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 3px auto;
	width: 27px;
	height: 23px;
	text-align: center;
	border: 1px solid #c6c6c6;
	font-size: 16px;
	color: #4c4848;
}

.content_total_section {
	background-color: #faf4ff;
}

.total_wrap {
	width: 80%;
	margin: auto;
	padding: 10px 0 10px 0;
}

.total_wrap td {
	width: 50%;
}

.finalTotalPrice_span {
	color: #854A72;
	font-size: 17px;
	font-weight: bold;
}

.boundary_div {
	font-size: 0;
	border: 1px dotted #d1c7c7;
	margin: 5px 0 5px 0;
}

.input_size {
	width: 18px;
	height: 18px;
}

.all_check_input {
	margin: 18px 0 18px 18px;
}

.all_chcek_span {
	padding-left: 8px;
	font-size: 17px;
}

table>tbody>tr>td>img {
	width: 100px;
}

table th, td {
	text-align: center;
	color: #353535;
}

table.table td {
	border-bottom: solid #E9E9E9;
}

table.table th {
	border-top: solid #E9E9E9;
}

table.table th {
	border-bottom: solid #E9E9E9;
}

#itemoption {
	margin-right: 8px;
}

#cd {
	margin-top: 20px;
}

#alertcoupon {
	z-index: 10000;
}

#order {
	font-size: 12px;
}

#totalprice {
	margin-left: 178px;
}
hr {
	margin-top: 80px;
	border: none;
	border-top: 1px solid grey;
	overflow: visible;
	text-align: center;
	height: 30px;
}

hr:after {
	font-family: 'Gamja Flower', cursive;
	content: "예매자 정보👩🏻‍🤝‍🧑🏼 ";
	position: relative;
	top: -22px;
	background: white;
	border-radius: 20px;
	padding: 0 10px;
	color: grey;
	font-size: 23px;
}
#cust_form {
	width: 30%;
	margin: auto;
	margin-bottom: 40px;
}

@media ( max-width : 768px) {
	#totalprice {
		margin-left: 0;
	}
	#order {
		font-size: 3px;
	}
	.notice_coupon{
	display:block;
	}
	#cust_form {
		width: 100%;
	}
}

</style>

<script>
	function checkCoupon() {
		var result;
		var custid = '[[${session.logincust.custid}]]';
		$.ajax({
			url : '[[@{/checkcoupon}]]',
			async : false,
			data : {
				'custid' : custid
			},
			success : function(data) {
				result = data;
				//alert(result);
				if(result == true) {  // 사용가능한 쿠폰이 있는 경우
					var totalprice = $('#totalprice').text(); // 총 주문금액
					totalprice = totalprice.replace(",","");  // 콤마 제거
					inttotalprice = Number(totalprice);
					inttotalprice = inttotalprice * 1/2; 
					//alert(inttotalprice);
					$('#sale_totalprice').text(inttotalprice.toLocaleString());
					$('#sale_totalprice').css('color', '#854A72');
					$('#sale_totalprice').css('font-size','17px');
					$('#sale_totalprice').css('font-weight','bold');
					$('#totalprice').css('text-decoration','line-through')
					$('#won').text('원');
					$('#order').attr("disabled", true);   // 쿠폰 적용한 후에는 버튼 비활성화
					$(".notice_coupon").text(' (보유 쿠폰: 0장)')
				} 
			}
		});
		return result;
	}

	function requestPay() {
		var custid = '[[${session.logincust.custid}]]';
		//alert(custid);
		var itemid = $('#itemid').text();
		intitemid = Number(itemid);
		//alert(intitemid);
		var itemname = $('#itemname').text(); // 상품이름
		//alert(itemname); 
		var totalprice = $('#totalprice').text(); // 총 주문금액
		totalprice = totalprice.replace(",", ""); // 콤마 제거를 위해
		//alert(totalprice);

		check_result = checkCoupon(); /* 쿠폰적용가능한지 확인 */
		//alert('*'+check_result);

		inttotalprice = Number(totalprice);
		if (check_result == true) { // 적용가능한 쿠폰이 있는 경우
			inttotalprice = inttotalprice * 1 / 2;
			//alert(inttotalprice);
		}

		var name = $('#name').val(); // 예매자 정보
		//alert(name);
		var email = $('#email').val();
		//alert(email);
		var phone = $('#phone').val();
		//alert(phone); 
		var ordercnt = $('#ordercnt').text();
		intordercnt = Number(ordercnt);
		//alert(intordercnt); 
		var date = new Date();
		var candate = new Date();
		candate.setMonth(date.getMonth() + 1);
		//alert(candate);

		IMP.init('imp35808662');
		IMP.request_pay({
			pg : 'html5_inicis.INIpayTest',
			pay_method : 'card',
			merchant_uid : 'merchant_' + new Date().getTime(),
			name : itemname,
			amount : inttotalprice,
			buyer_email : email,
			buyer_name : name,
			buyer_tel : phone,
			m_redirect_url: "http://101.101.219.170/thankyou?id="+custid+'&itemid='+intitemid
							+'&ordercnt='+intordercnt+'&totalprice='+inttotalprice+'&phone2='+phone,
		}, function(rsp) { // callback
			if (rsp.success) {
				$.ajax({
					url : '[[@{/purchaseimpl}]]',
					async : false,
					data : {
						'itemid' : intitemid,
						'custid' : custid,
						'ordercnt' : intordercnt,
						'totalprice' : inttotalprice,
						'phone2' : phone,
						'item_itemname' : itemname,
						'cust_cname' : name,
						'candate' : candate
					},
					success : function(data) {
						console.log(data)
						var orderlistid = data;
						location.href = '[[@{/order/checknew?id=}]]'
								+ orderlistid + '&[[@{custid=}]]' + custid;
					}
				});
			} else {
				var msg = '결제에 실패하였습니다.\n';
				msg += rsp.error_msg;
				alert(msg);
				return false;
			}
		});
	}

	$(document).ready(
			function() {
				$('#itemoption').click(function() {

					moveitemoption();
				});

				function moveitemoption() {
					var custid = '[[${session.logincust.custid}]]';
					var itemid = $('#itemid').text();

					location.href = '[[@{/itemoption?id=}]]' + custid
							+ '&[[@{itemid=}]]' + itemid;

				};
				
				if($('.notice_coupon').text() == ' (보유 쿠폰: 0장)') {
					$('#order').attr("disabled", true);  // 보유 쿠폰이 없는 경우 쿠폰적용 버튼 비활성화
				}

			});
</script>

<body>
	<div class="site-section">
		<div class="container">
			<div class="wrapper">
				<div class="wrap">
					<div class="container-fluid">
						<h4 style="color: #353535; margin-top: 20px;">예매/결제</h4>
					</div>
					<!-- 장바구니 리스트 -->
					<div class="content_middle_section"></div>
					<!-- 장바구니 가격 합계 -->
					<!-- cartInfo -->
					<div class="content_totalCount_section">
						<!-- 체크박스 전체 여부 -->
						<div class="all_check_input_div">
							<input type="checkbox" class="all_check_input input_size"
								checked="checked" style="display: none;"><span
								class="all_chcek_span"></span>
						</div>
						<div class="table-responsive text-nowrap"
							style="text-align: center">
							<table class="table">
								<caption></caption>
								<tbody>
									<c:forEach items="${cartInfo}">
										<tr>
											<th class="td_width_1"></th>
											<th class="td_width_0">no</th>
											<th class="td_width_2">상품 이미지</th>
											<th class="td_width_3">상품명</th>
											<th class="td_width_4">제품가격</th>
											<th class="td_width_4">수량</th>
											<th class="td_width_4">주문금액</th>

										</tr>
										</thead>
										<tbody>

											<td class="td_width_1 cart_info_td"><input
												type="checkbox" class="individual_cart_checkbox input_size"
												checked="checked" style="display: none;"> <input
												type="hidden" class="individual_Price_input"
												th:value="${itemdetail.itemoption_price1+itemdetail.itemoption_price2+itemdetail.itemoption_price3}">
												<input type="hidden" class="individual_Cnt_input"
												th:value="${itemcnt1+itemcnt2+itemcnt3}"> <input
												type="hidden" class="individual_totalPrice_input"
												th:value="${itemcnt1*itemdetail.itemoption_price1+itemcnt2*itemdetail.itemoption_price2+itemcnt3*itemdetail.itemoption_price3}">
												<input type="hidden" class="individual_itemId_input"
												th:value="${itemdetail.itemid}"></td>
											<td id="itemid" th:text="${itemdetail.itemid}">no</td>
											<td class="td_width_2"><img
												th:src="@{/img/}+${itemdetail.itemimg}"></td>
											<td id="itemname" class="td_width_3"
												th:text="${itemdetail.itemname}">상품명</td>

											<td class="td_width_4 price_td">
												<form
													th:text="${itemdetail.itemoption_obj1} +'권 '+${#numbers.formatInteger(itemdetail.itemoption_price1, 3, 'COMMA')}+'원'"></form>
												<form
													th:text="${itemdetail.itemoption_obj2} +'권 '+${#numbers.formatInteger(itemdetail.itemoption_price2, 3, 'COMMA')}+'원'"></form>
												<form
													th:text="${itemdetail.itemoption_obj3} +'권 '+${#numbers.formatInteger(itemdetail.itemoption_price3, 3, 'COMMA')}+'원'"></form>

											</td>
											<td class="td_width_4">
												<div class="quantity_div">
													<input type="text" th:value="${itemcnt1}"
														class="quantity_input"> <input type="text"
														th:value="${itemcnt2}" class="quantity_input"> <input
														type="text" th:value="${itemcnt3}" class="quantity_input">
											</td>
											<td class="td_width_4 table_text_align_center">
												<form th:text="${itemcnt1*itemdetail.itemoption_price1}+'원'"></form>
												<form th:text="${itemcnt2*itemdetail.itemoption_price2}+'원'"></form>
												<form th:text="${itemcnt3*itemdetail.itemoption_price3}+'원'"></form>
											</td>
									</c:forEach>
								</tbody>
							</table>
						</div>
						<!-- 가격 종합 -->
						<div class="content_total_section">
							<div class="total_wrap">
								<table>
									<tr>
										<td>
											<table>
												<tr>
													<td>총 주문금액</td>
													<td><span class="totalPrice_span"></span> 원</td>
												</tr>

												<tr>
													<td>총 티켓수</td>
													<td><span class="totalCount_span" id="ordercnt"></span>
														매
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<div class="boundary_div">구분선</div>
								<table>
									<tr>
										<td>
											<table>
												<tbody>
													<tr>
														<td><strong>총 결제예정금액</strong></td>
														<td><span id="totalprice"
															class="finalTotalPrice_span"></span> 원
															<button th:onclick="checkCoupon()" id="order"
																type="button" class="buy-now btn btn-primary"
																style="display: inline-block">쿠폰적용</button>
															<span class="notice_coupon" id="zero_coupon" th:if="${result == false}" th:text="' (보유 쿠폰: 0장)'" th:style="'font-size: 13px'"></span>
															<span class="notice_coupon" th:if="${result == true}" th:text="' (보유 쿠폰: 1장)'" th:style="'font-size: 13px'"></span>
															<div>
																<span id="sale_totalprice"> </span> <span id="won"></span>
															</div></td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</table>
							</div>
						</div>
						<div id="cd">
							<hr>
						</div>

					</div>



					<div class="row mb-5">
						<div class="col-md-12 mb-5">
							<div class="table-responsive">
								<form id="cust_form">
									<div class="form-group">
										<label for="name">이름:</label> <input
											style="border-radius: 20px; background-color: white; font-size: 20px;font-family: 'Gamja Flower', cursive;"
											type="text" readonly="readonly" class="form-control"
											id="name" th:value="${cust.cname}" name="cname">
									</div>
									<div class="form-group">
										<label for="name">전화번호:</label> <input
											style="border-radius: 20px; background-color: white; font-size: 20px;font-family: 'Gamja Flower', cursive;"
											type="text" readonly="readonly" class="form-control"
											id="phone" th:value="${cust.phone}" name="phone">
									</div>
									<div class="form-group">
										<label for="name">이메일:</label> <input
											style="border-radius: 20px; background-color: white; font-size: 20px;font-family: 'Gamja Flower', cursive;"
											type="text" readonly="readonly" class="form-control"
											id="phone" th:value="${cust.email}" name="email">
									</div>
								</form>
							</div>

						</div>


					</div>
					<!-- 구매 버튼 영역 -->
					<div class="content_btn_section">
						<button id="itemoption" type="button"
							class="buy-now btn btn-sm btn-primary"
							style="display: inline-block">이전단계</button>
						<button th:onclick="requestPay()" id="order" type="button"
							class="buy-now btn btn-sm btn-primary"
							style="display: inline-block">결제하기</button>
					</div>

				</div>
			</div>
			<!-- class="wrap" -->
		</div>
		<!-- class="wrapper" -->
	</div>

	<script>
		$(document).ready(function() {

			/* 종합 정보 섹션 정보 삽입 */
			setTotalInfo();
		});

		/* 체크여부에따른 종합 정보 변화 */
		$(".individual_cart_checkbox").on("change", function() {
			/* 총 주문 정보 세팅(배송비, 총 주문금액, 마일리지, 물품 수, 종류) */
			setTotalInfo($(".cart_info_td"));
		});

		/* 체크박스 전체 선택 */
		$(".all_check_input").on("click", function() {

			/* 체크박스 체크/해제 */
			if ($(".all_check_input").prop("checked")) {
				$(".individual_cart_checkbox").attr("checked", true);
			} else {
				$(".individual_cart_checkbox").attr("checked", false);
			}

			/* 총 주문 정보 세팅(배송비, 총 주문금액, 물품 수, 종류) */
			setTotalInfo($(".cart_info_td"));

		});

		/* 총 주문 정보 세팅(배송비, 총 주문금액, 마일리지, 물품 수, 종류) */
		function setTotalInfo() {

			let totalPrice = 0; // 총 주문금액
			let totalCount = 0; // 총 갯수
			let totalKind = 0; // 총 종류
			let deliveryPrice = 0; // 배송비
			let finalTotalPrice = 0; // 최종 가격(총 주문금액 + 배송비)

			$(".cart_info_td").each(
					function(index, element) {

						if ($(element).find(".individual_cart_checkbox").is(
								":checked") === true) { //체크여부
							// 총 주문금액
							totalPrice += parseInt($(element).find(
									".individual_totalPrice_input").val());
							// 총 갯수
							totalCount += parseInt($(element).find(
									".individual_Cnt_input").val());
							// 총 종류
							totalKind += 1;
						}

					});

			/* 배송비 결정 */
			if (totalPrice >= 30000) {
				deliveryPrice = 0;
			} else if (totalPrice == 0) {
				deliveryPrice = 0;
			} else {
				deliveryPrice = 0;
			}
			finalTotalPrice = totalPrice + deliveryPrice;

			/* ※ 세자리 컴마 Javscript Number 객체의 toLocaleString() */

			// 총 주문금액
			$(".totalPrice_span").text(totalPrice.toLocaleString());
			// 총 갯수
			$(".totalCount_span").text(totalCount);
			// 총 종류
			$(".totalKind_span").text(totalKind);
			// 최종 가격(총 주문금액 + 배송비)
			$(".finalTotalPrice_span").text(finalTotalPrice.toLocaleString());
		}
	</script>

</body>
<footer class="site-footer border-top">
   <div class="container">
      <div class="row">
      <!-- enter -->
      <!-- enter -->
      <!-- enter -->
         <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="row">
               <div class="col-md-12">
                  <h3 class="footer-heading mb-4">주식회사 U-ART</h3>
               </div>
               <div class="col-md-6 col-lg-4">
                  <ul class="list-unstyled">
                     <li><a href="#">개인정보처리방침</a></li>
                     <li><a href="#">청소년보호정책</a></li>
                     <li><a href="#">이용약관</a></li>
                  </ul>
               </div>
               <div class="col-md-6 col-lg-4">
                  <ul class="list-unstyled">
                     <li><a href="#">회사소개</a></li>
                     <li><a href="#">고객센터</a></li>
                     <li><a href="#">티켓판매안내</a></li>
                  </ul>
               </div>
               <div class="col-md-7 col-lg-4">
                  <ul class="list-unstyled">
                     <li><a href="#">웹사이트 개발</a></li>
                     <li><a href="#">채용안내</a></li>
                     <li><a href="#">광고/제휴안내</a></li>
                  </ul>
               </div>
            
            </div>
         </div>
         <div class="col-md-6 col-lg-1 mb-4 mb-lg-0"></div>
         <div class="col-md-6 col-lg-4">
            <div class="block-5 mb-5">
               <h3 class="footer-heading mb-4">Contact U-ART</h3>
               <ul class="list-unstyled">
                  <li id="address" class="address">서울특별시 강남구 삼성로 42 삼성동빌딩 5층</li>
                  <li class="phone"><a href="#">+82 02-2387-2387</a></li>
                  <li class="email">emailaddress@uart.com</li>
               </ul>
            </div>
         </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
         <div class="col-md-12">
            <p>
               <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                &copy;
               <script data-cfasync="false"
                  src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
               <script>document.write(new Date().getFullYear());</script>
             <span class="material-symbols-outlined" style="font-size: 40px; color:#9f86c0;" >emoji_people </span><a
                  href="#" target="_blank" class="text-primary"> (주)U-ART</a>
               <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
         </div>

      </div>
   </div>
</footer>

</html>