<meta charset="utf-8">
<style>
.container {
	width: 85%;
}

.table table {
	margin: auto;
	width: 95%;
	min-width: 1000px;
	color: #22333b;
}

.table td {
	vertical-align: middle;
}

th, td {
	text-align: center;
	color: #22333b;
}

.site-blocks-table thead th {
	font-size: 16px;
}

#pname {
	color: #22333b;
	width: 200px;
}

#s1 {
	width: 100px;
	display: flex;
	justify-content: center;
}

#s1_1 {
	text-align: center;
	width: 67px;
	background-color: #eef5db;
	border-radius: 20px;
}

#detailimg {
	width: 150px;
	border-radius: 7px;
	margin-bottom: 10px;
}

#orderlistid {
	color: #22333b;
	text-decoration: underline;
}

.site-section {
	padding: 5em 0 17em;
}

.table table-hover {
	margin: auto;
	width: 95%;
}

table.table td {
	border-bottom: solid #E9E9E9
}

table.table th {
	border-top: solid #E9E9E9
}

table.table th {
	border-bottom: solid #E9E9E9
}

@media ( max-width : 768px) {
 .col-md-4{
 padding-right: 0px;
 }
 }
</style>


<script>
	
</script>

<body>
<div class="site-section">
	<div class="container">
		<div class="table-responsive text-nowrap" style="text-align: center">
			<div class="col-md-12 mb-5">
				<h4 class="text-black" style="text-align: left">예매내역</h4>
			</div>
			<table class="table table">
				<thead>
					<tr>
						<th class="text-black">전시명</th>
						<th class="text-black">예매일</th>
						<th class="text-black">예약번호</th>
						<th class="text-black">이용일/매수</th>
						<th class="text-black">장소</th>
						<th class="text-black">취소가능일</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="d:${detaillist}">
						<td style="text-align: center;">
							<div>
								<a th:href="@{/item/itemdetail(itemid=${d.itemid})}"><img
									id="detailimg" th:src="@{/img/} + ${d.item_itemimg}"
									alt="Image" class="img-fluid"><br> <span id="pname"
									th:text="${d.item_itemname}" class="product-name"></span></a>
							</div>
						</td>
						<td th:text="${#dates.format(d.orderlist_orderdate,'yyyy.MM.dd')}"
							style="font-size: 17px;">
							<h2 class="h5 text-black"></h2>
						</td>
						<!-- 예약번호 -->
						<td><a
							th:href="@{/order/alldetailinfo(orderlistid=${d.orderlistid})}"><span
								id="orderlistid" th:text="${d.orderlistid}"></span></a></td>
						<td>
							<div style="display: flex; justify-content: center;">
								<div id="s1" class="row input-group mb-3"
									style="max-width: 120px;">
									<div>
										<span
											th:text="${#dates.format(d.item_estart,'yyyy.MM.dd')}+'~'">시작</span><br>
										<span th:text="${#dates.format(d.item_efin,'yyyy.MM.dd')}">끝</span>
										<span th:text="${d.itemid}" style="display: none;"></span>
									</div>
									<div id="s1_1" th:text="'총 '+${d.orderlist_ordercnt}+'매'"></div>
								</div>
							</div>
						</td>
						<td th:text="${d.item_place}"></td>
						<td th:text="${#dates.format(d.orderlist_candate,'yyyy.MM.dd')}"
							style="color: #7971EA;"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</body>
<footer class="site-footer border-top">
   <div class="container">
      <div class="row">
      <!-- enter -->
      <!-- enter -->
      <!-- enter -->
         <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="row">
               <div class="col-md-12">
                  <h3 class="footer-heading mb-4">주식회사 U-ART</h3>
               </div>
               <div class="col-md-6 col-lg-4">
                  <ul class="list-unstyled">
                     <li><a href="#">개인정보처리방침</a></li>
                     <li><a href="#">청소년보호정책</a></li>
                     <li><a href="#">이용약관</a></li>
                  </ul>
               </div>
               <div class="col-md-6 col-lg-4">
                  <ul class="list-unstyled">
                     <li><a href="#">회사소개</a></li>
                     <li><a href="#">고객센터</a></li>
                     <li><a href="#">티켓판매안내</a></li>
                  </ul>
               </div>
               <div class="col-md-7 col-lg-4">
                  <ul class="list-unstyled">
                     <li><a href="#">웹사이트 개발</a></li>
                     <li><a href="#">채용안내</a></li>
                     <li><a href="#">광고/제휴안내</a></li>
                  </ul>
               </div>
            
            </div>
         </div>
         <div class="col-md-6 col-lg-1 mb-4 mb-lg-0"></div>
         <div class="col-md-6 col-lg-4">
            <div class="block-5 mb-5">
               <h3 class="footer-heading mb-4">Contact U-ART</h3>
               <ul class="list-unstyled">
                  <li id="address" class="address">서울특별시 강남구 삼성로 42 삼성동빌딩 5층</li>
                  <li class="phone"><a href="#">+82 02-2387-2387</a></li>
                  <li class="email">emailaddress@uart.com</li>
               </ul>
            </div>
         </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
         <div class="col-md-12">
            <p>
               <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                &copy;
               <script data-cfasync="false"
                  src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
               <script>document.write(new Date().getFullYear());</script>
             <span class="material-symbols-outlined" style="font-size: 40px; color:#9f86c0;" >emoji_people </span><a
                  href="#" target="_blank" class="text-primary"> (주)U-ART</a>
               <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
         </div>

      </div>
   </div>
</footer>



