<meta charset="utf-8">
<style>
.rollingbanner{
    position: relative;
    width: 950px;
    height: 32px;
    font-size: .875rem;
    letter-spacing: -1px;
    padding: 7px 15px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 16px;
}
/* 타이틀 */
.rollingbanner > .title{
    font-weight: bold;
    float: left;
    padding-right: 10px;
}
/* 롤링 배너 */
.rollingbanner > .wrap{
    position: relative;
    width: auto;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}        
.rolling ul{
    list-style: none;
}
.rollingbanner li{
    position: absolute;
    top: -36px;
    left: 0;
}
/* 이전, 현재, 다음 롤링 배너 표시 */
.rollingbanner li.prev{
    top: 36px;
    transition: top 0.5s ease;
}
.rollingbanner li.current{
    top: 0;
    transition: top 0.5s ease;
}
.rollingbanner li.next{
    top: -36px;
}
.rollingbanner a{
    display: block;
    display: -webkit-box;
    text-decoration: none;
    -webkit-line-clamp: 1;
    -webkit-box-orient:vertical;
    overflow: hidden;
    color: #000;
}
</style>
<script>
function getCustCnt(){
	$.ajax({
		url:'[[@{/custcnt}]]',
		success:function(data){
			$('#cust_cnt').text(data);
		}
	});
};

function display1(data){
	Highcharts.chart('container', {
	    chart: {
	        type: 'column'
	    },
	    title: {
	        text: '2022년도 월별 매출차트'
	    },
	    
	    xAxis: {
	        categories: data['month'],
	        crosshair: true
	    },
	    yAxis: {
	        title: {
	            useHTML: true,
	            text: '월별 매출(원)'
	        }
	    },
	    tooltip: {
	        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
	        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
	            '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
	        footerFormat: '</table>',
	        shared: true,
	        useHTML: true
	    },
	    plotOptions: {
	        column: {
	            pointPadding: 0.2,
	            borderWidth: 0
	        }
	    },
	    series: data['result']
	});
};
function getdata1(){
	$.ajax({
		url:'[[@{/chart1}]]',
		success:function(data){
			// {"month":[1,2,3,4,5,6],"result":[{},{}]}
			display1(data);			
		}
	});

};

function display2(data){
	Highcharts.chart('container2', {
	    chart: {
	        plotBackgroundColor: null,
	        plotBorderWidth: null,
	        plotShadow: false,
	        type: 'pie'
	    },
	    title: {
	        text: '2022년도 기간별 매출비율'
	    },
	    tooltip: {
	        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
	    },
	    accessibility: {
	        point: {
	            valueSuffix: '%'
	        }
	    },
	    plotOptions: {
	        pie: {
	            allowPointSelect: true,
	            cursor: 'pointer',
	            dataLabels: {
	                enabled: true,
	                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
	            }
	        }
	    },
	    series: [{
	        name: 'Gender',
	        colorByPoint: true,
	        data: data
	    }]
	});

};

function getdata2(sm,em){
	$.ajax({
		url:'[[@{/chart2}]]',
		data:{'ssm':sm,'eem':em},
		success:function(data){
			display2(data);
		}
	});
}

$(document).ready(function(){
	
	getCustCnt();
	
	setInterval(() => {
		getCustCnt();
	}, 30000);
	
	getdata1();
	getdata2(1,8);
	getdata();
	
	$('#send_btn').click(function(){
		var sm = $('#sm').val();
		var em = $('#em').val();
		
		getdata2(sm,em);
	});
});
function clock(){
	var time = new Date();
	var dd=["일","월","화","수","목","금","토"];
	var year = time.getFullYear();
	var month = time.getMonth()+1;
    var date = time.getDate();
	var d=time.getDay();
	var h=time.getHours();
	var m=time.getMinutes();
	var s=time.getSeconds();
	h=detail(h);
	m=detail(m);
	s=detail(s);
	document.getElementById('clock').innerHTML=year+"년 "+month+"월 "+date+"일 "+dd[d]+"요일 "+h+":"+m+":"+s;
	var t=setTimeout(function(){clock()},1000);
	}

	function detail(i){
	if(i<10) {i="0"+i};
	return i;
	}

	function display(data){
		var result = '';
		$(data).each(function(index,item){
			result += '<h3>';
			result += item.num+' '+item.title+' ';
			result += '</h3>';
		});
		$('#result').html(result);
	};

	function getdata(){
		$.ajax({
			url:'/getdata',
			success:function(data){
				display(data);
			}
		});
	};
	
	document.addEventListener('DOMContentLoaded', ()=>{
	    var interval = window.setInterval(rollingCallback, 3000);
	})
	function rollingCallback(){
	    //.prev 클래스 삭제
	    document.querySelector('.rollingbanner .prev').classList.remove('prev');

	    //.current -> .prev
	    let current = document.querySelector('.rollingbanner .current');
	    current.classList.remove('current');
	    current.classList.add('prev');

	    //.next -> .current
	    let next = document.querySelector('.rollingbanner .next');
	    //다음 목록 요소가 널인지 체크
	    if(next.nextElementSibling == null){
	        document.querySelector('.rollingbanner ul li:first-child').classList.add('next');
	    }else{
	    	//목록 처음 요소를 다음 요소로 선택
	        next.nextElementSibling.classList.add('next');
	    }
	    next.classList.remove('next');
	    next.classList.add('current');
	}

</script>
	<!-- Content -->
<body onload="clock()">
	<div class="container-xxl flex-grow-1 container-p-y">
		<div id="result" style="display:none;"></div>
		<div class="rollingbanner ">
    <div class="title" style="color: black;">리뷰별점 높은 순서대로 추천전시6 > </div>
    <div class="wrap">
        <ul>
            <li class="current"><a href="#">1. GUSTAV KLIMT(구스타프 클림트)</a></li>
            <li class="next"><a href="#">2. LOGOUT(로그아웃)</a></li>
            <li><a href="#">3. MONET INSIDE(모네)</a></li>
            <li><a href="#">4. DUBUFFET(뒤뷔페전)</a></li>
            <li><a href="#">5. Road To Purple</a></li>
            <li class="prev"><a href="#">6. Tube Seoul</a></li>
        </ul>
    </div>
</div>
<p></p>
		<div class="row">
		<div class="col-lg-9 mb-4 order-0">
				<div class="card">
					<div class="d-flex align-items-end row">
						<div class="col-sm-7">
							<div class="card-body">
							<div th:if="${session.loginadmin == null}">
								<h5 class="card-title text-primary" th:text="'지금은 로그아웃 상태입니다'" ></h5></div>
								<div th:if="${session.loginadmin != null}">
								<h5 class="card-title text-primary" th:text="'환영합니다 '+${session.loginadmin.aname}
									+'님! 🎉'" ></h5></div>
								<h1 id="clock" style="color: black;">clock</h1>


							</div>
						</div>
						<div class="col-sm-5 text-center text-sm-left">
							<div class="card-body pb-0 px-0 px-md-4">
								<img th:src="@{/assets/img/illustrations/man-with-laptop-light.png}"
									height="140" alt="View Badge User"
									data-app-dark-img="illustrations/man-with-laptop-dark.png"
									data-app-light-img="illustrations/man-with-laptop-light.png" />
							</div>
						</div>
					</div>
				</div>
			</div>
			
	<div class="col-lg-3 col-md-12 mb-4">
				<div class="card border-left-primary shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="h5 card-title text-primary mb-1">총 회원수
									</div>
								<div id="cust_cnt" class="h1 mb-0 font-weight-bold text-gray-800" style="color: black;"></div>
							</div>

						</div>
					</div>
				</div>
			</div>
			
			
		</div>
		<div class="row">

			<!-- Hist Chart -->
			<div class="col-md-6 order-1 mb-4">
				<div class="card h-100">
						<!-- Card Header - Dropdown -->
						<div
							class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
							<h6 class="m-0 font-weight-bold text-primary"></h6>
						</div>
						<!-- Card Body -->
						<div class="card-body">
							<div id="container"></div>
						</div>
			</div>
			</div>
			<!--/ Expense Overview -->

			<!-- Transactions -->
			<div class="col-md-6 order-2 mb-4">
				<div class="card h-100">
						<!-- Card Header - Dropdown -->
						<div
							class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
							<div class="form-group">
								<label for="sel1">조회시작일:</label> <select
									class="form-control" id="sm">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>

								</select> <label for="sel1">조회마감일:</label> <select
									class="form-control" id="em">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12" selected="selected">12</option>
								</select>
								<button id="send_btn" type="button" class="btn btn-primary">조회</button>
							</div>
						</div>
						<!-- Card Body -->
						<div class="card-body">
							<div id="container2"></div>
						</div>
					</div>

				</div>
			</div>
			<!--/ Transactions -->
		</div>
	</body>
	<!-- / Content -->