<meta charset="utf-8">

<style>
.img-fluid {
	width: 100%;
	height: 450px;
}

#h2{
	font-size:22px;
}
</style>

<body>

	<div class="site-section">
		<div class="container">

			<div class="row mb-5">
				<div class="col-md-12 order-2">

					<div class="row">
						<div class="col-md-12 mb-5">
							<div class="float-md-left mb-4">
								<h2 id="h2" class="text-black h5">공지사항</h2>
							</div>
						</div>
					</div>
					<!-- center 화면 ------------------------------------------------>

					<div class="container">
						<div class="row mb-5">

							<div class="col-sm-12">
								<h6 style="color:gray">작성일:&nbsp;2022.10.01
									&nbsp;&nbsp;&nbsp;&nbsp;조회수:&nbsp;198</h6>
								<hr style="width: 100%; height: 5px;">
								<h5 style="color: black">10월 시스템 정기점검</h5>
								<br>
								<h6 style="color: black">
									안녕하세요. U-ART 입니다.<br> 보다 안정적이고 효율적인 서비스 제공을 위하여 아래와 같이 티켓
									시스템 점검 작업으로 서비스가 일시 중단될 예정입니다.<br> 아래 내용을 참고하시어 이용에 착오
									없으시기 바랍니다.
								</h6>
								<br>
								<h6 style="color: black">---------- 아 래 ----------</h6>
								<h6 style="color: black">
									1. 작업일: 2022.10.30<br>
									<br> 2. 작업시간: 2:00-6:00<br>
									<br> 3. 작업내용: 시스템 정기점검<br>
									<br> *해당 작업 시간동안 U-ART 사이트 서비스 이용 불가
								</h6>
								<br>
								<h6 style="color: black">
									이용에 불편을 드려 죄송합니다.<br> 항상 고객님께 최선의 서비스를 제공하기 위해 노력하는 U-ART가
									되겠습니다.<br> 감사합니다.
								</h6>


							</div>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
<footer class="site-footer border-top">
   <div class="container">
      <div class="row">
      <!-- enter -->
      <!-- enter -->
      <!-- enter -->
         <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="row">
               <div class="col-md-12">
                  <h3 class="footer-heading mb-4">주식회사 U-ART</h3>
               </div>
               <div class="col-md-6 col-lg-4">
                  <ul class="list-unstyled">
                     <li><a href="#">개인정보처리방침</a></li>
                     <li><a href="#">청소년보호정책</a></li>
                     <li><a href="#">이용약관</a></li>
                  </ul>
               </div>
               <div class="col-md-6 col-lg-4">
                  <ul class="list-unstyled">
                     <li><a href="#">회사소개</a></li>
                     <li><a href="#">고객센터</a></li>
                     <li><a href="#">티켓판매안내</a></li>
                  </ul>
               </div>
               <div class="col-md-7 col-lg-4">
                  <ul class="list-unstyled">
                     <li><a href="#">웹사이트 개발</a></li>
                     <li><a href="#">채용안내</a></li>
                     <li><a href="#">광고/제휴안내</a></li>
                  </ul>
               </div>
            
            </div>
         </div>
         <div class="col-md-6 col-lg-1 mb-4 mb-lg-0"></div>
         <div class="col-md-6 col-lg-4">
            <div class="block-5 mb-5">
               <h3 class="footer-heading mb-4">Contact U-ART</h3>
               <ul class="list-unstyled">
                  <li id="address" class="address">서울특별시 강남구 삼성로 42 삼성동빌딩 5층</li>
                  <li class="phone"><a href="#">+82 02-2387-2387</a></li>
                  <li class="email">emailaddress@uart.com</li>
               </ul>
            </div>
         </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
         <div class="col-md-12">
            <p>
               <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                &copy;
               <script data-cfasync="false"
                  src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
               <script>document.write(new Date().getFullYear());</script>
             <span class="material-symbols-outlined" style="font-size: 40px; color:#9f86c0;" >emoji_people </span><a
                  href="#" target="_blank" class="text-primary"> (주)U-ART</a>
               <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
         </div>

      </div>
   </div>
</footer>


