<meta charset="utf-8">
<script>
$(document).ready(function() {
	$('#delete_btn').click(function() {
		var c = confirm('💡삭제하시겠습니까?');
		if (c == true) {
			var id = $('#adminid').val(); 
			location.href = '[[@{/admin/delete?adminid=}]]' + id;
		}
	});
	$('#update_btn').click(function() {
	    alert('💡수정하시겠습니까?');
		$('#detail_form').attr({
			'method' : 'post',
			'action' : '[[@{/admin/update}]]'
		});
		$('#detail_form').submit();	
		
	}); 

});
</script>
</script>
<!-- Basic Layout -->
<div class="col-xxl">
	<div class="card mb-4"
		style="width: 80%; margin: auto; margin-top: 70px;">
		<div
			class="card-header d-flex align-items-center justify-content-between">
			<h4 class="mb-0">관리자 상세정보</h4>
		</div>
		<div class="card-body">
			<form id="detail_form">
				<div class="row mb-3">
					<label class="col-sm-2 col-form-label" for="basic-default-name">Name</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="name" th:value="${a.aname}" name="aname"
							readonly="readonly">
					</div>
				</div>
				<div class="row mb-3">
					<label class="col-sm-2 col-form-label" for="basic-default-name">ID</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="adminid" th:value="${a.adminid}" name="adminid" readonly="readonly">
					</div>
				</div>
				<div class="row mb-3">
					<label class="col-sm-2 col-form-label" for="basic-default-name">PWD</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="pwd" th:value="${a.adminpwd}" name="adminpwd">
					</div>
				</div>
				<div class="row mb-3">

					<div class="select">
						<label class="col-sm-2 col-form-label" for="basic-default-name">Level</label>
						<label><input type="radio" name="lev" value="A" th:checked="${a.lev eq 'A'}" >
							Advanced</label> <label><input type="radio"  name="lev" 
							value="I" th:checked="${a.lev eq 'I'}"> Intermediate</label> <label><input
							type="radio"  name="lev" value="B" th:checked="${a.lev eq 'B'}"> Beginner</label>
					</div>
				</div>
				<div class="row mb-3">
					<label class="col-sm-2 col-form-label" for="basic-default-email">Email</label>
					<div class="col-sm-8">
						<div class="input-group input-group-merge">
							<input type="text" id="email" class="form-control" th:value="${a.ademail}" name="ademail">
						</div>
					</div>
				</div>
				<div class="row mb-3">
					<label class="col-sm-2 col-form-label" for="basic-default-phone">Phone
						No</label>
					<div class="col-sm-8">
						<input type="text" id="basic-default-phone"
							class="form-control phone-mask" th:value="${a.adphone}" name="adphone">
					</div>
				</div>
				
			</form>
			<div  style="display: flex; justify-content: flex-end;">
					<div >
						<button id="delete_btn" type="button" class="btn btn-primary" style="margin-right: 10px;" ><span class="material-symbols-outlined"  style="font-size:17px;">
						delete</span></button>
							<button id="update_btn" type="button" class="btn btn-primary"  style="margin-right: 60px;" ><span class="material-symbols-outlined" style="font-size:17px;">
						update
						</span></button>
					</div>
		</div>
	</div>
</div>