<meta charset="utf-8">
<style>
.table th{
font-size:15px;
}
</style>
<!-- Bootstrap Table with Header - Light -->
<div class="card" style="width:90%; height:100%; margin:auto; margin-top:70px;">
	<h4 class="card-header">관리자 목록</h4>
	<div class="table-responsive text-nowrap" style=" text-align:center" >
		<table class="table">
			<thead class="table-light">
				<tr>
					
					<th>NAME</th>
					<th>ID</th>
					<th>PWD</th>
					<th>LEVEL</th>
					
				</tr>
			</thead>
			<tbody class="table-border-bottom-0">
				<tr th:each="a:${list}">
					<td><a th:href="@{/admin/detail(adminid=${a.adminid})}" th:text="${a.aname}"></a></td>
					<td th:text=${a.adminid}></td>
					<td th:text="${a.adminpwd}">pwd</td>
					<td th:text="${a.lev}"></td>
					
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- Bootstrap Table with Header - Light -->