<meta charset="utf-8">

<style>
.img-fluid {
	width: 80%;
	height: 550px;
	border-radius: 10px;
}

#tab_name{
	font-size:15px;
	font-weight:bold;
}

#p1 {
	font-style: italic;
	font-weight: 400;
}

h6, #p2 {
	color: black;
}

#p3 {
	font-size: 14px;
}

.info_img {
	width: 45%;
	height: 600px;
	border-radius: 10px;
	margin-bottom: 50px;
}

#cancel_table {
	width: 600px;
}

#price_table {
	width: 400px;
}

#review {
	font-size: 15px;
}

#re_att {
	font-size: 13px;
	color: #c44536;
}

#item_review {
	margin-left: 10px;
	margin-top: 10px;
}

hr.two_1 {
	width: 100%;
	border: none;
	border: 1px solid #ced4da;
}

.star-ratings {
	color: #aaa9a9;
	position: relative;
	unicode-bidi: bidi-override;
	width: max-content;
	-webkit-text-fill-color: transparent;
	/* Will override color (regardless of order)
	-webkit-text-stroke-width: 1.3px;
	-webkit-text-stroke-color: #2b2a29; */
}

.star-ratings-fill {
	color: #fff58c;
	padding: 0;
	position: absolute;
	z-index: 1;
	display: flex;
	top: 0;
	left: 0;
	overflow: hidden;
	-webkit-text-fill-color: #f9c74f;
}

.star-ratings-base {
	z-index: 0;
	padding: 0;
}

.title {
	display: inline-block;
	width: 100px;
	font-weight: bold;
}

.con {
	font-weight: 500;
}

#order {
	
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 200px;
	float: left;
}

#wishlist {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 200px;
	float: left;
	background-color: #cec2ff;
	padding: 10px;
	border-radius: 10px;
	outline: 0;
}

.btn {
	animation: bgColor 1st both;
	background-color:#7971EA;
}

#option_price {
display: flex;
}

.option {
display: flex;
justify-content: space-between;
width: 65%;
}

#btn {
	width: 100%;
	text-align: center;
	color:#7971EA;
	display: flex;
    justify-content: flex-end;
    
}
</style>

<script>
$(document).ready(
		function() {
			$('#order').click(function() {

				moveorder();
			});

			function moveorder() {
				var custid = '[[${session.logincust.custid}]]';
				var itemid = $('#itemid').text();
				var itemcnt1 = $('#itemcnt1').val();
				var itemcnt2 = $('#itemcnt2').val();
				var itemcnt3 = $('#itemcnt3').val();
				location.href = '/orderpageitem?custid=' + custid
						+ '&itemid=' + itemid 
						+ '&itemcnt1=' + itemcnt1 + '&itemcnt2=' + itemcnt2
						+ '&itemcnt3=' + itemcnt3;

			}
			;

			
				});
	
</script>



<body>
	<div class="site-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img th:src="'/img/'+${itemdetail.itemimg}" alt="Image"
						class="img-fluid">
				</div>
				<div class="col-md-6">
				<input type="text"
							readonly="readonly" class="form-control" id="itemname"
							th:value="${itemdetail.itemname}" name="itemname" style="display:none"> <br>
					<h2 class="text-black" th:text="${itemdetail.itemname}"></h2>
					<p></p>
					<hr class="two_1">
					<span id="itemid" th:text="${itemdetail.itemid}" name="itemid"
						style="display: none"></span><br>
					<span class="title">장소</span>
					<span class="con" th:text="${itemdetail.itemplace}"></span><br>
					<span class="title">기간</span>
					<span class="con"
						th:text="${#dates.format(itemdetail.estart, 'yyyy.MM.dd')} + '&nbsp;~&nbsp;' + ${#dates.format(itemdetail.efin, 'yyyy.MM.dd')}"
						name="itemid"></span><br> <span class="title">관람등급</span><span
						class="con" th:text="' '+${itemdetail.itemguide}"></span>
					<hr style="color: black">
					<section id="option_price" >
					<span class="title">가격</span>
					<section style="width: 500px;">
					<div class="option">
						<span class="con"
						th:text="${itemdetail.itemoption_obj1} +'권 '+ ${#numbers.formatInteger(itemdetail.itemoption_price1, 3,'COMMA')}+'원'"><label for="sel1"></label></span> 
						<select
							class="form-control col-sm-3" id="itemcnt1">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						</select> 
					</div>
				
					<div class="option">
					<span class="con"
						th:text="${itemdetail.itemoption_obj2} +'권 '+ ${#numbers.formatInteger(itemdetail.itemoption_price2, 3,'COMMA')}+'원'"></span><label for="sel1"></label> <select
							class="form-control col-sm-3" id="itemcnt2">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						</select> 
					</div>
					
					<div class="option">
						<span class="con"
						th:text="${itemdetail.itemoption_obj3} +'권 '+ ${#numbers.formatInteger(itemdetail.itemoption_price3, 3,'COMMA')}+'원'"></span><label for="sel1"></label> <select
							class="form-control col-sm-3" id="itemcnt3">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						</select> 
					</div>
				</section>
						</section>
					<div id="btn">
						<div style="display: inline-block">
							<button id="order" class="buy-now btn btn-sm btn-primary">다음단계</button>
						</div>
						
					</div>
				</div>
			</div>

			
		</div>
	</div>
</body>
</html>