<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>U-ART</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">


    <link rel="stylesheet" th:href="@{/css/aos.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    
    <!-- autocomplete -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <!-- Google icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Filled|Material+Icons+Rounded|Material+Icons+Sharp|Material+Icons+Two+Tone" rel="stylesheet"> 

   <!-- Kakao map API -->
   <script type="text/javascript"
      th:src="@{//dapi.kakao.com/v2/maps/sdk.js?appkey=f541c133e4befeb47a03d1471b0f1748}"></script>

	<!-- Websocket Library -->
	<script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
	<script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>

   <!-- logo font -->   
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">

	<!-- Favicon -->
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/img/favicon (1).ico" type="image/x-icon">

<style>
#top_search {
   display: flex;
   align-items: center;
   margin-bottom: -310px;
}

#search_btn {
   font-size: 12px;
   padding: 7px, 7px, 7px, 7px;
   width: 50px;
   height: 32px;
   background-color: #7971EA;
   margin-right:100px;
}

#login, #register, #logout {
   font-size: 14px;
}

.material-symbols-outlined {
   font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48
}

#icons {
  /*  display: flex; */
   align-items: center;
   height: 100px;
}

#cname {
   font-weight: bold;
}

#chatbot-icon{
   width:40px;
   height:40px;
}

#address{
   font-size: 15px;
}

#logo{
   border:none;
   font-size:40px;
   font-family: 'Dancing Script', cursive;
}

.modal-backdrop.fade.show {
z-index:9000;
}

#mymodal {
z-index: 10000;
}

a#MOVE_TOP_BTN{
	position: fixed;
	right: 2%;
	bottom: 50px;
	display: none;
	z-index:999;
}

#nav_home{
	margin-top:10px;
}

@media ( max-width : 768px) {
#top_search{
 display: flex;
   align-items: center;
   margin-bottom:-100px;
}

#search_input{
width:100px;
}

#MOVE_TOP_BTN{
display:none !important;
}
}

</style>


<script>
function enterkey2(){
	if(window.event.keyCode == 13){
		if($('#search_input').val() == ''){
	    	  $('#mymodal').modal('show');
	      }
		else {
		$('#search_form').attr({
			'method':'get',
			'action':'[[@{/searchimpl}]]'
		});
		$('#search_form').submit();
		}
	};
	
};
  $(document).ready(function() {
	  
	  
	  $.ajax({
			url:'[[@{/autosearch}]]',
			success:function(data){
				
				$("#search_input").autocomplete({  //오토 컴플릿트 시작
					source: data,	// 상단의 List 배열
					
					select:function(event, ui){
						str=ui.item.label;
						location.href='[[@{/searchimpl?txt=}]]'+str;
					},
					
					focus : function(event, ui){ // 방향키로 자동완성단어 선택	
						
						return false;
					},
					minLength: 1,// 최소 글자수
					delay: 100,	//autocomplete 딜레이 시간(ms)
					//disabled: true, //자동완성 기능 끄기
				});
			}
		});
	  
      
      $('#search_btn').click(function() {
      		if($('#search_input').val()==''){
      			$('#mymodal').modal('show');
      		
      		}else{
         $('#search_form').attr({
            'method' : 'get',
            'action' : '[[@{/searchimpl}]]'
         });
         $('#search_form').submit();
      	}
     });
  });
  
  $(function(){
		$(window).scroll(function(){
			if($(this).scrollTop() > 500){
				$('#MOVE_TOP_BTN').fadeIn();
				
			}else{
				$('#MOVE_TOP_BTN').fadeOut();
			}
		});
		$('#MOVE_TOP_BTN').click(function(){
			$('html,body').animate({
				scrollTop:0
			}, 400);
			return false;
		});
		
		$('#close_btn5').click(function(){
			$('#mymodal').modal('hide');
		});
		$('#close5').click(function(){
			$('#mymodal').modal('hide');
		}); 
	});
  
  
  </script>

</head>


<body>

   <div class="site-wrap">
      <header class="site-navbar" role="banner">
         <div class="site-navbar-top">
            <div class="container">
               <div class="row align-items-center">

                  <div id="top_search"
                     class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
                     <form id="search_form" class="site-block-top-search">
                        <span class="icon icon-search2"></span> 
                        <input id="search_input" type="text" class="form-control border-0" placeholder="Search" name="txt" onkeyup="enterkey2()">
                        <input type="text" style="display:none" onkeyup="enterkey2()">
                            <!-- 더미를 주지 않으면 서치가 searchimpl?txt= 로 가는게 아니라 ?txt로 가버린다 -->
                            <!-- name 잊지말기 -->
                     </form>
                     <button id="search_btn" class="btn btn-primary btn-xs">GO</button>
                  </div>

                  <div
                     class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                     <div class="site-logo">
                        <a th:href="@{/}" id="logo" class="js-logo-clone">U-Art</a>
                     </div>
                  </div>

                  <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                     <div class="site-top-icons">
                        <ul id="icons" th:if="${session.logincust == null}">
                           <li><a th:href="@{/cust/login}"> <span
                                 class="material-symbols-outlined" id="login">
                                    person로그인 </span></a></li>
                           <li><a th:href="@{/register/registered}"> <span
                                 class="material-symbols-outlined" id="register">
                                    potted_plant회원가입 </span></a></li>
                            <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                        </ul>
                        <ul th:if="${session.logincust != null}">
                           <a id="cname" style="color: #9f86c0"
                              th:text="${session.logincust.cname}+'님'"
                              th:href="@{/cust/detail(custid=${session.logincust.custid})}"><span
                              class="caret"></span></a>
                           <li><a th:href="@{/cust/logout}"> <span
                                 class="material-symbols-outlined" id="logout">
                                    person로그아웃 </span></a></li>
                           <li><a
                              th:href="@{/wishlist(id=${session.logincust.custid})}"><span
                                 class="icon icon-heart-o"></span></a></li>
                           <li><a th:href="@{/order/detail(id=${session.logincust.custid})}" class="site-cart" id='orderlist'>
                                 <span class="material-symbols-outlined"> list_alt </span>
                           </a></li>
							<li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                        </ul>
                     </div>
                  </div>

               </div>
            </div>
         </div>
         <nav class="site-navigation text-right text-md-center"
            role="navigation">
            <div id="nav_home" class="container">
               <ul class="site-menu js-clone-nav d-none d-md-block">
                  <li class="has-children active"><a th:href="@{/}">Home</a>
                     <ul class="dropdown">
                        <li><a th:href="@{/aboutus}">About Us</a></li>
                     </ul></li>
                  <li class="has-children"><a href="#">전시</a>
                     <ul class="dropdown">
                        <li><a th:href="@{/item/medialist}">미디어 전시</a></li>
                        <li><a th:href="@{/item/explist}">체험형 전시</a></li>
                        <li><a th:href="@{/item/privatelist}">개인전</a></li>
                        <li><a th:href="@{/item/speciallist}">특별전</a></li>
                     </ul></li>
                  <li><a th:href="@{/recommend}">추천전시</a></li>
                  <li><a th:href="@{/item/artinfolist}">공연예술</a></li>
                  <li><a th:href="@{/event/get}">이벤트</a></li>
                  <li><a th:href="@{/faq}">FAQ</a></li>
                  <li><a th:href="@{/chatbot}"><img id="chatbot-icon" th:src="@{/img_c/chatbot.jpg}"></a></li>
               </ul>
            </div>
         </nav>
      </header>

      <!-- Main Center Start -->
      <div th:insert="${center} ? ${center} : maincenter"></div>
      <!-- Main Center End -->   
   </div>

	<a id="MOVE_TOP_BTN" href="#"><span class="material-symbols-outlined" style="font-size:65px;">
	arrow_circle_up
	</span></a>


  <script th:src="@{/js/jquery-ui.js}"></script>
  <script th:src="@{/js/popper.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/owl.carousel.min.js}"></script>
  <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
  <script th:src="@{/js/aos.js}"></script>

  <script th:src="@{/js/main.js}"></script>
  
  <!-- Modal -->
 
<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">알림❗❗</h5>
        <button type="button" id="close5" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>검색어를 입력하세요.</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="close_btn5" class="btn btn-primary" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
  
</body>

</html>