<meta charset="utf-8">
  <body>

    <div class="site-section">
      <div class="container">

        <div class="row mb-5">
          <div class="col-md-12 order-2">

            <div class="row">
              <div class="col-md-12 mb-5">
                <div class="float-md-left mb-4"><h2 class="text-black h5">추천전시</h2></div>
              </div>
            </div>
            <div class="row mb-5">
			<!-- 첫번째 행 -->
              <div th:each="rit : ${recommendlist}" class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a th:href="@{/item/itemdetail(itemid=${rit.itemid})}"><img th:src="'/img/' +${rit.itemimg}" alt="Image placeholder" class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a th:href="@{/item/itemdetail(itemid=${rit.itemid})}" th:text="${rit.itemname}">Tank Top</a></h3>
                  	<span th:text="${#dates.format(rit.estart,'yyyy.MM.dd')}+'~'">시작</span><span th:text="${#dates.format(rit.efin,'yyyy.MM.dd')}">끝</span>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </body>
