<meta charset="utf-8">
<style>
.container {
	width: 85%;
}

.table table-hover{
	margin: auto;
	width: 95%;
}

.table td {
	vertical-align: middle;
}

img{
	width: 80px;
	border-radius: 5px;
}


table th, td {
	text-align: center;
}

table.table td {
	border-bottom: solid #E9E9E9
}

table.table th {
	border-top: solid #E9E9E9
}

table.table th {
	border-bottom: solid #E9E9E9
}

#trash_icon{
	font-size: 19px;

}

#delete_btn{
 	padding: 10px;
 	height: 35px;
 		display: flex;
	align-items: center;
	margin: auto;
 }
 @media ( max-width : 768px) {
 .col-md-4{
 padding-right: 0px;
 }
 }
</style>


<script>
function del(wishid) {
	var custid = '[[${session.logincust.custid}]]';
	var c = confirm('삭제 하시겠습니까 ?');
	if (c == true) {
		location.href = '[[@{/deletewishlist?id=}]]' + wishid + '&[[@{custid=}]]' + custid;
	}
}

	
</script>

<body>
<div class="site-section">
		<div class="container" style="overflow-x: auto;">
			<div class="row mb-5">
				<div class="col-md-12 mb-5">
				  <h4 class="text-black">위시리스트</h4>
				</div>
				  <table class="table table-hover">
				    <thead>
				      <tr>
				      	<th class="text-black">no</th>
				        <th class="text-black">이미지</th>
				        <th class="text-black">상품명</th>
				        <th class="text-black">전시일정</th>
				        <th class="text-black">등록일</th>
				        <th class="text-black">삭제</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr th:each="c : ${mywishlist}">
				        <td class="text-black" id="wishid" th:text="${c.wishid}">no</td>
				        <td class="text-black"><a th:href="@{/item/itemdetail(itemid=${c.itemid})}"><img th:src="@{/img/}+${c.itemimg}"></a></td>
				        <td><a class="text-info" th:href="@{/item/itemdetail(itemid=${c.itemid})}"><strong><txt th:text="${c.itemname}" class="text-black"></txt></strong></td>
				        <td class="text-black" th:text="${#dates.format(c.estart, 'yyyy.MM.dd')} + '&nbsp;~&nbsp;' + ${#dates.format(c.efin, 'yyyy.MM.dd')}">전시일정</td>
				        <td class="text-black" th:text="${#dates.format(c.wishdate, 'yyyy.MM.dd')}">등록일</td>
				        <td> 
				        	<button id="delete_btn" type="button" th:onclick="del([[${c.wishid}]]);" class="btn btn-dark btn-sm-sm">
				          		<span id="trash_icon" class="material-icons">delete</span>
				        	</button>
				        </td>
				      </tr>
				    </tbody>
				  </table>
			</div>
		</div>
</div>
</body>
<footer class="site-footer border-top">
   <div class="container">
      <div class="row">
      <!-- enter -->
      <!-- enter -->
      <!-- enter -->
         <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="row">
               <div class="col-md-12">
                  <h3 class="footer-heading mb-4">주식회사 U-ART</h3>
               </div>
               <div class="col-md-6 col-lg-4">
                  <ul class="list-unstyled">
                     <li><a href="#">개인정보처리방침</a></li>
                     <li><a href="#">청소년보호정책</a></li>
                     <li><a href="#">이용약관</a></li>
                  </ul>
               </div>
               <div class="col-md-6 col-lg-4">
                  <ul class="list-unstyled">
                     <li><a href="#">회사소개</a></li>
                     <li><a href="#">고객센터</a></li>
                     <li><a href="#">티켓판매안내</a></li>
                  </ul>
               </div>
               <div class="col-md-7 col-lg-4">
                  <ul class="list-unstyled">
                     <li><a href="#">웹사이트 개발</a></li>
                     <li><a href="#">채용안내</a></li>
                     <li><a href="#">광고/제휴안내</a></li>
                  </ul>
               </div>
            
            </div>
         </div>
         <div class="col-md-6 col-lg-1 mb-4 mb-lg-0"></div>
         <div class="col-md-6 col-lg-4">
            <div class="block-5 mb-5">
               <h3 class="footer-heading mb-4">Contact U-ART</h3>
               <ul class="list-unstyled">
                  <li id="address" class="address">서울특별시 강남구 삼성로 42 삼성동빌딩 5층</li>
                  <li class="phone"><a href="#">+82 02-2387-2387</a></li>
                  <li class="email">emailaddress@uart.com</li>
               </ul>
            </div>
         </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
         <div class="col-md-12">
            <p>
               <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                &copy;
               <script data-cfasync="false"
                  src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
               <script>document.write(new Date().getFullYear());</script>
             <span class="material-symbols-outlined" style="font-size: 40px; color:#9f86c0;" >emoji_people </span><a
                  href="#" target="_blank" class="text-primary"> (주)U-ART</a>
               <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
         </div>

      </div>
   </div>
</footer>




