<meta charset="utf-8">
<style>

img{
width: 70px;
}

img:hover {
	width: 69px;
	border: 1px solid #742f99;
}


table th, td {
	text-align: center;
}

table.table td {
	border-bottom: solid #E9E9E9
}

table.table th {
	border-top: solid #E9E9E9
}

table.table th {
	border-bottom: solid #E9E9E9
}
</style>

<script>
function del(wishid) {
	var custid = '[[${session.logincust.custid}]]';
	var c = confirm('삭제 하시겠습니까 ?');
	if (c == true) {
		location.href = '[[@{/deletewishlist?id=}]]' + wishid + '&custid=' + custid;
	}
}

	
</script>


<div class="container">
  <h2>위시리스트</h2>
  <table class="table table-hover">
    <thead>
      <tr>
      	<th>no</th>
        <th>상품 이미지</th>
        <th>상품명</th>
        <th>전시일정</th>
        <th>등록일</th>
        <th>삭제</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="c : ${mywishlist}">
        <td id="wishid" th:text="${c.wishid}">no</td>
        <td><a th:href="@{/item/itemdetail(itemid=${c.itemid})}"><img th:src="@{/img/}+${c.itemimg}"></a></td>
        <td><a th:href="@{/item/itemdetail(itemid=${c.itemid})}"><txt th:text="${c.itemname}"></td>
        <td th:text="${#dates.format(c.estart, 'yyyy.MM.dd')} + '&nbsp;~&nbsp;' + ${#dates.format(c.efin, 'yyyy.MM.dd')}">전시일정</td>
        <td th:text="${#dates.format(c.wishdate, 'yyyy.MM.dd')}">등록일</td>
        <td> 
        	<button type="button" th:onclick="del([[${c.wishid}]]);" class="btn btn-dark btn-sm-sm">
          		<span class="material-icons">delete</span>
        	</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>



<!-- 하단부 공백(테이블공간) 마련을 위해서 -->
<meta charset="utf-8">
  <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12 order-2">
            <div class="row">
              <div class="col-md-12 mb-4">
                <div class="float-md-left mb-4"><h3 class="text-black h3"></h3></div>
                <div class="d-flex">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

