<meta charset="utf-8">
<style>
.container {
	width: 85%;
}

.table table-hover{
	margin: auto;
	width: 95%;
}

.table td {
	vertical-align: middle;
}

img{
	width: 80px;
	border-radius: 5px;
}


table th, td {
	text-align: center;
}

table.table td {
	border-bottom: solid #E9E9E9
}

table.table th {
	border-top: solid #E9E9E9
}

table.table th {
	border-bottom: solid #E9E9E9
}

#trash_icon{
	font-size: 19px;

}

#delete_btn{
 	padding: 10px;
 	height: 35px;
 		display: flex;
	align-items: center;
	margin: auto;
 }
 @media ( max-width : 768px) {
 .col-md-4{
 padding-right: 0px;
 }
 }
</style>


<script>
function del(wishid) {
	var custid = '[[${session.logincust.custid}]]';
	var c = confirm('삭제 하시겠습니까 ?');
	if (c == true) {
		location.href = '[[@{/deletewishlist?id=}]]' + wishid + '&[[@{custid=}]]' + custid;
	}
}

	
</script>


<div class="site-section">
		<div class="container" style="overflow-x: auto;">
			<div class="row mb-5">
				<div class="col-md-12 mb-5">
				  <h4 class="text-black">위시리스트</h4>
				</div>
				  <table class="table table-hover">
				    <thead>
				      <tr>
				      	<th class="text-black">no</th>
				        <th class="text-black">이미지</th>
				        <th class="text-black">상품명</th>
				        <th class="text-black">전시일정</th>
				        <th class="text-black">등록일</th>
				        <th class="text-black">삭제</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr th:each="c : ${mywishlist}">
				        <td class="text-black" id="wishid" th:text="${c.wishid}">no</td>
				        <td class="text-black"><a th:href="@{/item/itemdetail(itemid=${c.itemid})}"><img th:src="@{/img/}+${c.itemimg}"></a></td>
				        <td><a class="text-info" th:href="@{/item/itemdetail(itemid=${c.itemid})}"><strong><txt th:text="${c.itemname}" class="text-black"></txt></strong></td>
				        <td class="text-black" th:text="${#dates.format(c.estart, 'yyyy.MM.dd')} + '&nbsp;~&nbsp;' + ${#dates.format(c.efin, 'yyyy.MM.dd')}">전시일정</td>
				        <td class="text-black" th:text="${#dates.format(c.wishdate, 'yyyy.MM.dd')}">등록일</td>
				        <td> 
				        	<button id="delete_btn" type="button" th:onclick="del([[${c.wishid}]]);" class="btn btn-dark btn-sm-sm">
				          		<span id="trash_icon" class="material-icons">delete</span>
				        	</button>
				        </td>
				      </tr>
				    </tbody>
				  </table>
			</div>
		</div>
</div>




