<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.EventblMapper">
    
    <select id="select" parameterType="Integer" resultType="eventblDTO">
		SELECT * FROM review WHERE eid=#{eid}
	</select>
	<select id="selectall" resultType="eventblDTO">
		SELECT * FROM eventbl
	</select>
	<insert id="insert" parameterType="eventblDTO">
		INSERT INTO eventbl VALUES (NULL,#{custid},#{udate},#{content},#{image},#{tdate},#{sale});
	</insert>
	<update id="update" parameterType="eventblDTO">
		UPDATE eventbl SET eid=#{eid},content=#{content},image=#{image},tdate=#{tdate},sale=#{sale} WHERE eid=#{eid}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM evnetbl WHERE eid=#{eid}
	</delete>
	<select id="select_itemreview" parameterType="Integer" resultType="eventblDTO">
		SELECT * FROM eventbl WHERE custid=#{custid}
	</select>
	
</mapper>
