<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.EventblMapper">
    
    <select id="select" parameterType="Integer" resultType="eventblDTO">
		SELECT * FROM eventbl WHERE eid=#{eid};
	</select>
	<select id="selectall" resultType="eventblDTO">
		SELECT * FROM eventbl
	</select>
	<insert id="insert" parameterType="eventblDTO">
		INSERT INTO eventbl VALUES (NULL, #{custid},'2022-11-17', '2022-12-31', '수험표 인증시, 전시 50% 할인!','sevent.png', 50, sysdate())
	</insert>
	<update id="update" parameterType="eventblDTO">
		
	</update>
	<delete id="delete" parameterType="Integer">
		
	</delete>
	
</mapper>
