<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.ItemMapper">

	<select id="select" parameterType="Integer" resultType="itemDTO">
		SELECT c.cateid, (c.catename) AS cate_catename, i.itemid, i.itemname, i.itemimg, i.itemplace,i.itemplace_address, i.lat, i.lng, i.itemguide, i.itemticket, 
		(o.obj1) AS itemoption_obj1, (o.price1) AS itemoption_price1,
		(o.obj2) AS itemoption_obj2, (o.price2) AS itemoption_price2, 
		(o.obj3) AS itemoption_obj3, (o.price3) AS itemoption_price3,
		i.itemstock, i.estart, i.efin  FROM item AS i
		INNER JOIN cate AS c ON c.cateid=i.cateid
		INNER JOIN itemoption AS o ON o.itemid=i.itemid
		WHERE i.itemid=#{itemid}
	</select>
	
	
	<select id="select_cate" parameterType="Integer" resultType="itemDTO">
		SELECT c.cateid, c.catename, i.itemid, i.itemname, i.itemimg FROM item AS i
		INNER JOIN cate AS c ON c.cateid=i.cateid
		WHERE c.cateid=#{cateid}
	</select>	
	
	
	<select id="selectall" resultType="itemDTO">
		SELECT c.cateid, c.catename, i.itemid, i.itemname, i.itemimg, i.itemplace, i.itemguide, (o.obj1) AS itemoption_obj1, 
		(o.obj1) AS itemoption_obj1, (o.price1) AS itemoption_price1, 
		(o.obj2) AS itemoption_obj2, (o.price2) AS itemoption_price2,
		(o.obj3) AS itemoption_obj3, (o.price3) AS itemoption_price3,
		i.itemticket, i.estart, i.efin  FROM item AS i
		INNER JOIN cate AS c ON c.cateid=i.cateid
		INNER JOIN itemoption AS o ON o.itemid=i.itemid
	</select>
	
	<select id="searchitem" parameterType="String" resultType="itemDTO">
		SELECT * FROM item AS i
		WHERE itemname LIKE CONCAT('%',#{txt},'%')		
	</select>
	
	<select id="start_fast" resultType="itemDTO">
		SELECT * FROM item AS i
		WHERE i.cateid=#{cateid}
		ORDER BY estart ASC;	
	</select>
	
	<select id="end_fast" resultType="itemDTO">
		SELECT * FROM item AS i
		WHERE i.cateid=#{cateid}
		ORDER BY efin ASC;	
	</select>
	
	<select id="start_fastPaging" resultType="itemDTO">
		SELECT * FROM item AS i
		WHERE i.cateid=5
		ORDER BY estart ASC	
		LIMIT #{offset}, 6	
	</select>
	
	<select id="end_fastPaging" resultType="itemDTO">
		SELECT * FROM item AS i
		WHERE i.cateid=5
		ORDER BY efin ASC	
		LIMIT #{offset}, 6	
	</select>
	
	<select id="gethighgrade" resultType="itemDTO">
		SELECT i.itemid, i.itemname, i.itemimg, i.estart, i.efin, 
		round(avg(r.reviewgrade), 1) as review_reviewgrade FROM item i 
		INNER JOIN review r ON i.itemid = r.itemid
		GROUP BY i.itemid
		ORDER BY review_reviewgrade DESC LIMIT 6;

	</select>
	
	<select id="getTotal" resultType="Integer">
		SELECT count(*) FROM item
		WHERE cateid=5

	</select>
	
	<select id="selectpage" parameterType="Integer" resultType="itemDTO">
		SELECT c.cateid, c.catename, i.itemid, i.itemname, i.itemimg FROM item AS i
		INNER JOIN cate AS c ON c.cateid=i.cateid
		WHERE c.cateid = 5
        ORDER BY itemid
        LIMIT #{offset}, 6	
	</select>

</mapper>