<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.ItemMapper">

	<select id="select" parameterType="Integer" resultType="itemDTO">
		SELECT c.cateid, (c.catename) AS cate_catename, i.itemid, i.itemname, i.itemimg, i.itemplace, i.itemguide, i.itemticket, (o.obj) AS itemoption_obj, (o.price) AS itemoption_price, i.estart, i.efin  FROM item AS i
		INNER JOIN cate AS c ON c.cateid=i.cateid
		INNER JOIN itemoption AS o ON o.itemid=i.itemid
		WHERE i.itemid=#{itemid} LIMIT 1
	</select>
	
	<select id="select_cate" parameterType="Integer" resultType="itemDTO">
		SELECT c.cateid, c.catename, i.itemid, i.itemname, i.itemimg FROM item AS i
		INNER JOIN cate AS c ON c.cateid=i.cateid
		WHERE c.cateid=#{cateid}
	</select>	
	
	
	<select id="selectall" resultType="itemDTO">
		SELECT c.cateid, c.catename, i.itemid, i.itemname, i.itemimg, i.itemplace, i.itemguide, (o.obj) AS itemoption_obj, (o.price) AS itemoption_price, i.itemticket, i.estart, i.efin  FROM item AS i
		INNER JOIN cate AS c ON c.cateid=i.cateid
		INNER JOIN itemoption AS o ON o.itemid=i.itemid
	</select>
	
	<select id="searchitem" parameterType="String" resultType="itemDTO">
		SELECT * FROM item WHERE itemname LIKE CONCAT('%',#{txt},'%')		
	</select>
	
	<select id="gethighgrade" resultType="itemDTO">
		SELECT i.itemid, i.itemname, i.itemimg, i.estart, i.efin, 
		r.reviewgrade as review_reviewgrade FROM item i 
		INNER JOIN review r ON i.itemid = r.itemid
		INNER JOIN cate c ON c.cateid = i.cateid
		ORDER BY r.reviewgrade DESC LIMIT 6;

	</select>

</mapper>