<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.KItemMapper">
	
	<select id="select" parameterType="Integer" resultType="KItemDTO">
		SELECT ca.cateid, ca.catename, it.itemid, it.itemname, it.itemimg, it.itemplace, it.itemguide, it.itemticket, it.estart,it.efin  
		FROM item AS it
		INNER JOIN cate AS ca ON it.cateid=ca.cateid
		WHERE it.itemid=#{itemid}
	</select>
	<select id="selectall" resultType="KItemDTO">
		SELECT ca.cateid, ca.catename, it.itemid, it.itemname, it.itemimg, it.itemplace, it.itemguide, it.itemticket, io.obj, io.price, it.estart,it.efin  
		FROM item AS it
		INNER JOIN cate AS ca ON ca.cateid=it.cateid
		INNER JOIN itemoption AS io ON io.itemid=it.itemid
	</select>
	<insert id="insert" parameterType="KItemDTO">
		INSERT INTO item VALUES (#{itemid},#{cateid},#{itemname},#{itemimg},#{itemplace},#{lat},#{lng},#{itemguide},#{itemticket},#{itemstock},#{estart},#{efin})
	</insert>
	<update id="update" parameterType="KItemDTO">
		UPDATE item SET cateid=#{cateid}, itemname=#{itemname},itemplace=#{itemplace} WHERE itemid=#{itemid}
	</update>
	<delete id="delete" parameterType="KItemDTO">
		DELETE FROM item WHERE itemid=#{itemid}
	</delete>
	<select id="kitemall" parameterType="Integer" resultType="KItemDTO">
		SELECT ca.cateid, ca.catename, it.itemid, it.itemname, it.itemimg, it.itemplace, it.itemguide, it.itemticket, io.obj, io.price, it.estart,it.efin  
		FROM item AS it
		INNER JOIN cate AS ca ON it.cateid=ca.cateid
		INNER JOIN itemoption AS io ON it.itemid=io.itemid
		WHERE it.itemid=#{itemid}
	</select>
	
	
</mapper>