<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.ReviewMapper">
	
	<select id="select" parameterType="Integer" resultType="reviewDTO">
		SELECT * FROM review WHERE reviewid=#{reviewid}
	</select>
	<select id="selectall" resultType="reviewDTO">
		SELECT * FROM review
	</select>
	<insert id="insert" parameterType="reviewDTO">
		INSERT INTO review VALUES (NULL,#{custid},#{itemid},#{reviewcontent},#{reviewgrade},#{reviewdate})
	</insert>
	<update id="update" parameterType="reviewDTO">
		UPDATE review SET custid=#{custid}, reviewcontent=#{reviewcontent}, reviewgrade=#{reviewgrade}, reviewdate=#{reviewdate} WHERE reviewid=#{reviewid}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM review WHERE reviewid=#{reviewid}
	</delete>
	<select id="select_itemreview" parameterType="Integer" resultType="reviewDTO">
		SELECT * FROM review WHERE itemid=#{itemid}
	</select>
	
</mapper>