<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.AJAXMapper">
	
	<select id="getCustCnt" resultType="Integer">
		SELECT count(*) FROM customer
	</select>
	
	<select id="chart1" resultType="ChartDTO">
		SELECT DATE_FORMAT(ol.orderdate,'%m') AS month, cu.gender AS gender, SUM(ol.totalprice) AS total_price FROM orderlist ol
		INNER JOIN customer cu ON ol.custid = cu.custid
		GROUP BY month, gender
	</select>
	
	<select id="chart2" resultType="ChartDTO" parameterType="java.util.HashMap">
		SELECT cu.gender AS gender, SUM(ol.totalprice) AS total_price FROM orderlist ol
		INNER JOIN customer cu ON ol.custid = cu.custid
		WHERE MONTH(ol.orderdate) BETWEEN #{sm} AND #{em}
		GROUP BY gender
	</select>
	
	<select id="getname" resultType="itemDTO">
		SELECT i.itemname  FROM item AS i
	</select>
	
</mapper>







