<meta charset="utf-8">
<link
	href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Josefin+Sans&display=swap"
	rel="stylesheet">
<style>
#withdraw_form {
	width: 40%;
	margin: auto;
	margin-bottom: 40px;
}

#withdraw_btn {
	margin: auto;
	display: block;
}

#cd {
	text-align: center;
	font-family: 'Gamja Flower', cursive;
}

input {
	font-family: 'Gamja Flower', cursive;
}

#check {
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	margin-top: 20px;
	color: grey;
	font-family: 'Gamja Flower', cursive;
}

hr {
	margin-top: 70px;
	border: none;
	border-top: 1px solid grey;
	overflow: visible;
	text-align: center;
	height: 30px;
}

hr:after {
	font-family: 'Gamja Flower', cursive;
	content: "회원 탈퇴✂";
	position: relative;
	top: -22px;
	background: white;
	border-radius: 20px;
	padding: 0 10px;
	color: grey;
	font-size: 25px;
}

@media ( max-width : 768px) {
	#withdraw_form {
		width: 100%;
	}
}
</style>
<script>
	$(document).ready(function() {

		$('#withdraw_btn').click(function() {

			var c = confirm('회원 탈퇴시 해당 아이디로 재가입할 수 없습니다. 탈퇴 하시겠습니까?');
			if (c == true) {
				$('#withdraw_form').attr({
					'method' : 'post',
					'action' : '[[@{/cust/withdrawimpl}]]'
				});
				//보낸다.
				$('#withdraw_form').submit();
			} else {
				return;
			}
		});
	});
</script>

<div class="site-section">
	<div class="container">

		<div class="row mb-5">
			<div class="col-md-12 order-2">

				<div class="row">
					<div class="col-md-12 mb-4">
						<hr>
					</div>
				</div>

				<div class="row mb-5">
					<div class="col-md-12 mb-5">
						<div class="table-responsive">

							<form id="withdraw_form">
								<div class="form-group">
									<label for="id">아이디:</label> <input
										style="border-radius: 20px; background-color: white; font-size: 22px;"
										type="text" readonly="readonly" class="form-control" id="id"
										th:value="${cust.custid}" name="custid"> <span
										id="ispan"></span>
								</div>
								<div class="form-group">
									<label for="pwd">비밀번호:</label> <input
										style="border-radius: 20px; background-color: white; font-size: 22px;"
										type="text" readonly="readonly" class="form-control" id="pwd"
										th:value="${cust.pwd}" name="pwd">
								</div>
								<div class="form-group">
									<label for="name">이름:</label> <input
										style="border-radius: 20px; background-color: white; font-size: 22px;"
										type="text" readonly="readonly" class="form-control" id="name"
										th:value="${cust.cname}" name="cname">
								</div>
								<div class="form-group">
									<label for="name">전화번호:</label> <input
										style="border-radius: 20px; background-color: white; font-size: 22px;"
										type="text" readonly="readonly" class="form-control"
										id="phone" th:value="${cust.phone}" name="phone">
								</div>
								<div class="form-group">
									<label for="birth">출생일:</label> <input
										style="border-radius: 20px; background-color: white; font-size: 22px;"
										type="text" readonly="readonly" class="form-control"
										id="birth" th:value="${cust.birth}" name="birth">
								</div>
								<div class="form-group">
									<label for="name">성별:</label> <input
										style="border-radius: 20px; background-color: white; font-size: 22px;"
										type="text" readonly="readonly" class="form-control"
										id="gender" th:value="${cust.gender}" name="gender">
								</div>
								<div class="form-group">
									<input
										style="border-radius: 20px; background-color: white; font-size: 22px;"
										type="hidden" readonly="readonly" class="form-control"
										id="withdrawal" th:value=0 name="withdrawal">
								</div>
								<p id="check">정말 떠나시는 건가요...? 다시 한번 생각해 주세요😢</p>
							</form>
							<button id="withdraw_btn" class="btn btn-primary btn-sm">탈퇴하기</button>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

